
*, *::before, *::after{
    box-sizing: border-box;
}
* {
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2e2e2e;
    background-color: #f8f9fa;
}

.dice-container{
    display: flex;
    gap: 40px;
    margin: 20px auto;
    padding: 1.75rem 3rem;
    border-radius: 12px;
    border: 5px solid #f3f3f3;
   
}

.die{
    font-size: 5rem;
    color: #3d444d;
    transition: transform 0.3s ease;

}

.rolling{
    transform: rotate(360deg);

}

button{
    padding: 16px 32px;
    font-size: 1.25rem;
    text-transform: uppercase;
    border-radius: 8px;
    border: 2px solid #333333;
    background-color: #007aff;
    color: #f8f9fa;
}

button:hover{
    background-color: #005adf;
}

button:active{
    background-color: #002aff;
}


.doubles{
    border-color: #ff7700;
}

.stats p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin: 15px auto;
}

.max{
    color: #680a0a;
}

